* {
	box-sizing: border-box; 
	font-family: 'Urbanist', sans-serif;
}

/*NAV*/

nav {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: #41B3A3;
	z-index: 6;
}

.mobile-nav {
	display: none;
}

@media screen and (max-width: 760px) {
	nav {
		display: none;
	}
	
	.mobile-nav {
		display: block;
	}
}

.title {
	margin: 12px;

}

.nav-links {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	
}

a {
	margin: 10px;
	padding: 10px;
	border: 3px black solid;
	border-radius: 5px;
	text-decoration: none;
	color: black ;	
}



/*ABOUT ME*/

main {
	background-color: #E8A87C;
	z-index: 6;
}

main section {
	display: flex;
}

section {
	width: 60%;
	margin: 0 auto;
	padding: 100px;
}

.picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

article {
	margin-left: 40px;
}

main section h4 {
	font-size: 30px;
}

main section p {
	font-size: 20px;
}

/*Projects*/
.background-projects {
	background-color:#C38D9E;
	z-index: 6;
}
.projects {
	width: 60%;
}
.projects div {
	display: flex;
	padding: 15px;
}

.project1,.project3 {
	flex-direction: row-reverse;
	justify-content: space-around;
}

.project2 {
	justify-content: space-around;
}

/*Footer*/
footer {
	z-index: 6;
	background-color:#E27D60; 
}
footer section{
	display: flex;
	justify-content: center;
	padding: 30px;
}

/*Button*/

.totop {
	position: fixed;
	bottom: 7%;
	right: 3%;
	border: none;
}

.topimg{

}



/*colors {
	background-color: #E27D60 ;
	background-color: #E8A87C;
	background-color: #C38D9E ;
	background-color: #41B3A3 ;
}*/